<!DOCTYPE html>
<html>
    <head>
        <title>Rechnung</title>
    </head>
    <body>
        <h1>Rechnung</h1>
        <p>Ihre Bestellung ist erfolgreich eingegangen.</p>
        <p>Anbei erhalten Sie die Rechnung:</p>
        <p>----------------------------------------------------</p>
        <h3>Name: <%= bestellung[0].kunden_name %></h3>
        <h3>Adresse: <%= bestellung[0].adresse %></h3>
        <p>----------------------------------------------------</p>
        <% for (let i = 0; i < bestellung.length; i++) { %>
            <h3>Produkt <%= i+1 %>: <%= bestellung[i].produkt_name %></h3>
            <p>Preis: <%= bestellung[i].preis %> EUR</p>
            <p>Anzahl: <%= bestellung[i].anzahl %></p>
            <img src="images/<%= bestellung[i].bild_datei %>" alt="<%= bestellung[i].bild_datei %>" style="width:100px;height:100px;">
            <p></p>
         <% } %>
    </body>
</html>