<!DOCTYPE html>

<html>
    <head>
        <title>Bestellung Anzeigen</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="bestellunganzeigen.css">
    </head>

    <body>
            <div class="topnav">
                    <a href="/">Home</a>
                    <a href="/produktlist">Produkte</a>
                    <a href="/abmelden">Abmelden</a>
                    <a class="active" href="/warenkorb">
                        <img src="images/shopping-cart.png" alt="Warenkorb" style="width:15px;height:15px;">
                    </a>
                    <br>
            <form action="/suche" method="POST">
                <input type="text" name="suche">
                <button type="submit">Suchen</button>
                </form>
             </div> 

             <div class="rechnung">
             <h1>Rechnung <%= rechnungsnummer %></h1>
             <h2>Ihre Bestellung ist erfolgreich eingegangen.</h2>
             <h2>Anbei erhalten Sie die Rechnung:</h2><br>
           
             <h3>Name: <%= bestellung[0].kunden_name %></h3>
             <h3>Adresse: <%= bestellung[0].adresse %></h3><br>
                <div class="rechnungprodukt">
             <% for (let i = 0; i < bestellung.length; i++) { %>
                 <h3>Produkt <%= i+1 %>: <%= bestellung[i].produkt_name %></h3>
                 <p>Preis: <%= bestellung[i].preis %> EUR</p>
                 <p>Anzahl: <%= bestellung[i].anzahl %></p>
                 <img src="images/<%= bestellung[i].bild_datei %>" alt="<%= bestellung[i].bild_datei %>" style="width:100px;height:100px;">
                 <p></p>
              <% } %>
            </div>
            

             <a href="/produktlist">Weiter einkaufen</a><br>
            </div>
    </body>
</html>
