<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="produktelisten.css">
    </head>
    <body>
            <div class="topnav">
                    <a href="/">Home</a>
                    <a class="active" href="/produktlist">Produkte</a>
                    <%if (login === false ){%>
                        <a href="/anmelden">Anmelden</a>
                        <a href="/kontoerstellen">Konto erstellen</a>
                    <%}else{%>
                        <a href="/abmelden">Abmelden</a>
                    <%}%>
                    <a href="/warenkorb">
                        <img src="images/shopping-cart.png" alt="Warenkorb" style="width:15px;height:15px;">
                    </a>                    <br>
            <form action="/suche" method="POST">
                <input type="text" name="suche">
                <button type="submit">Suchen</button>
                </form>
             </div> 

        <p>Es wurden <%= produkte.length %> Produkt(e) gefunden.</p>
        <br>
        <br>
        <div class="produktelisten">
        <% // Iteration über Array zur Ausgabe von Produkten %>
        <% for (let i = 0; i < produkte.length; i++) { %>
            <%//erst mal keine Produktnamen ausgeben, hab ich mit css noch nicht schön hinbekommen%>
            <%//Kümmer mich später darum!%>
            <div class="img">
                <figure>
            <a href="/produkt?id=<%= produkte[i].id %>">
                <img src="images/<%= produkte[i].bild_datei %>" alt="<%= produkte[i].bild_datei %>" style="width:200px;height:200px;">
                <figcaption><%= produkte[i].name%> </figcaption> 
            </a>
                </figure>
            </div>
         <% } %>
        </div>

    </body>
</html>

