<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <p>Produkt Name: <%= produkt.name %></p>
        <p>Beschreibung: <%= produkt.beschreibung %></p>
        <img src="images/<%= produkt.bild_datei %>" alt="<%= produkt.bild_datei %>" style="width:400px;height:400px;">
        <p>Preis: <%= produkt.preis %> EUR</p>
    </body>
</html>