<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Warenkorb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="warenkorb.css">
</head>
<body>
        <div class="topnav">
                <a href="/">Home</a>
                <a href="/produktlist">Produkte</a>
                <%if (login === false ){%>
                    <a href="/anmelden">Anmelden</a>
                    <a href="/kontoerstellen">Konto erstellen</a>
                <%}else{%>
                    <a href="/abmelden">Abmelden</a>
                <%}%>
                <a class="active" href="/warenkorb">
                    <img src="images/shopping-cart.png" alt="Warenkorb" style="width:15px;height:15px;">
                </a>
                <br>
        <form action="/suche" method="POST">
            <input type="text" name="suche">
            <button type="submit">Suchen</button>
            </form>
         </div>
        
        <div class="warenkorb">
        <%if (produkte.length === 0 ){%>
            <h1>Oh oh! Dein Warenkorb ist leer.</h1>
            <img src="images/nope cat.png" style="width:300px;height:300px;">
        <%}else{%>
            <h1>Die folgenden Produkte befinden sich im Warenkorb:</h1>
            <% for (let i = 0; i < produkte.length; i++) { %>
                <p id="one"> <%= produkte[i].name%>: <b><%= produkte[i].preis%> EUR</b></p> 
                <a href="/produkt?id=<%= produkte[i].id %>">
                    <img src="images/<%= produkte[i].bild_datei %>" alt="<%= produkte[i].bild_datei %>" style="width:200px;height:200px;">
            </a>
            <% } %>
        <%}%>
        
        <br>
        
        <div class="button">
        <a type="button" id="three" href="/produktlist" class="button" >Weiter einkaufen<a/> <br> <br>
        <%if (produkte.length !== 0 ){%>
            <%if (login === false ){%>
                <a id="two" href="/anmelden" class="button"> <b>Anmelden um zu bestellen<a/>
            <%}else{%>
               <a href="/bestellen" class="button">Jetzt bestellen!
               <a/> 
            <%}%>
        <%}%>
    </div>
</div>
    </body>
</html>
